.SetPannel-1 {
    flex: 5;
}

.PlayerPannel-1 {
    flex: 25;

}

.TeamPannel-1 {
    flex: 5;

}


.SetPannel-2 {
    flex: 5;
}

.PlayerPannel-2 {
    flex: 25;
}

.TeamPannel-2 {
    flex: 5;

}