@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
}

.time-string{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 80%;
}

.MainPage{
  max-height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
.SideBar{
  width: 20%;
 min-width: 250px;
  max-height: 100%;
  min-height: 100%;
}
.MainArea{
  width: 80%;
  max-height: 100%;
  min-height: 100%;
display:flex;
flex-direction:column;

}
#mainTextArea{
  width: 100%;
  height: 100%;
}

.MainTextArea > .tox{
  height:100% !important;
}


input[type="file"] {
  display: none;
}
.custom-file-upload {
  /* border: 1px solid #ccc; */
  padding: 6px 12px;
}

.Image-content{
  font-size:12px;
  border-radius: 5px;
  border:1px
}
.MainTextArea{
  height: 100%;
}